
.nav{
  /*height: 10%;*/
  height: 98px;
  /*position: absolute;*/
  width: 100%;
  z-index: 10000;
}
.nav .logoandlink{
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.IT_logo{
  position: absolute;
  left: 0px;
  top: 17px;
  width: 77px;
  height: auto;

}
.nav .logoandlink h2{
  /* font-size: 1.6rem; */
  font-size: 24px;
  color: #232323;
  position: absolute;
  left: 100px;
  top: 35px;
}
.nav .logoandlink .menu {
  /*width: 700px;*/
  display: flex;
  position:absolute;
  right: 0px;
}
.menu-item {
  position: relative;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 33px;
}
.nav .logoandlink .menu .wee {
  height: 2px;
  background-color:#EAAA15;
  position: absolute;
  display:block;
  bottom: 0;
  /* transition: 0.75s; */
}
.menu-item a {
  margin: 0;
  /*padding: 0 1rem 1.5rem;*/
  display: block;
  line-height: 47px;
  /* font-size: 1.2rem; */
  font-size: 18px;
  color: black;
  /* transition: 0.75s; */
  text-decoration:none;
}

@media screen and (max-width: 1366px){
.menu-item a{
  font-size: 15px;
   line-height: 35px;
}
.menu-item {
 margin-top:25px;
}
.nav .logoandlink h2
{
  font-size: 22px;
  top: 28px;
  left: 79px;
}
.IT_logo{
  width: 60px;
  top: 14px;
}
.nav .logoandlink{
  width: 930px;
}
.nav
{
  height: 78px;
}


}
@media screen and (max-width: 1000px){
  .nav
{
  height: 57px;
}

.menu-item a{
  font-size: 12px;
   line-height: 32px;
}
.menu-item {
 margin-top:17px;
/* padding-left: 6px;
 padding-right: 6px;*/
}
.nav .logoandlink h2
{
  font-size: 16px;
  top: 21px;
  left: 56px;
}
.IT_logo{
  width: 45px;
  top: 10px;
}
.nav .logoandlink{
  width: 700px;
}


}
