{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>纳新报名表</title>
	<link rel="stylesheet" href="{% static  "css/apform.css" %}">
</head>

<body>
	<div class="container">
		<div class="header"></div>
		<div class="body">
			<div class="logo"><a href=""><img src="{% static  "images/logo.png" %}" alt=""></a></div>
			<h1 class="formheader">爱特工作室2018秋季招新报名表</h1>

			<form class="apform" method="post" id="apform" style="display: block;">
                    {% csrf_token %}
					<div class="formbody">
						<div class="basic_info">
							<div class="info_title">姓名</div>
							<input type="text" class="name">
							<div style="clear: both;"></div>
						</div>
						<div class="basic_info clearfix">
							<div class="info_title">专业</div>
							<input type="text" class="profession">
						</div>
						<div class="basic_info clearfix">
							<div class="info_title">QQ</div>
							<input type="text" class="qq">
						</div>
						<div class="basic_info clearfix">
							<div class="info_title">手机</div>
							<input type="text" class="phonenumber">
						</div>
                        <div class="basic_info clearfix">
							<div class="info_title">邮箱</div>
							<input type="text" class="email">
						</div>
						<div style="clear: both;"></div>
						<div class="intention clearfix">
							<h2>请选择意向部门</h2>
							<ul class="clearfix">
								<li value="1">前端部门</li>
								<li value="2">UI部门</li>
								<li value="3">程序部门</li>
								<li value="4">安卓部门</li>
							</ul>
						</div>
						<div style="clear: both;"></div>
						<input type="number" class="intention_choose">
						<div class="self_introduction">
							<div class="title">个人简介</div>
							<textarea name="introduction" id="" cols="" rows="" class="introduction"></textarea>
							<div class="tip">（不要超过200字）</div>
						</div>
						<div class="buttonwrap clearfix2">

							<button class="form_submit"></button>
							<button class="apform_check"></button>
						</div>
						
					</div>
		
			</form>

            <div class="verify" style="display: none;">

				<h2>请输入邮箱中含有的身份码</h2>
				<div class="inputwrap"><input type="text" id="usercodeinput"></div>
				<button class="verify_check"></button>
				<button class="verify_back"></button>

			</div>

			<div class="processform" style="display: none;">
				<div class="info clearfix name">
					<div class="title">姓名:</div>
					<div class="content cname">浦则元</div>
				</div>
				<div class="info clearfix">
					<div class="title">专业:</div>
					<div class="content cmajor">电子信息工程</div>
				</div>
				<div class="info clearfix">
					<div class="title">意向部门:</div>
					<div class="content cdepart">UI部门</div>
				</div>
				<div class="info clearfix">
					<div class="title">目前报名状态:</div>
					<div class="state">
						<div class="line">
							
						</div>
						<div class="dots">
							<div class="dot"></div>
							<div class="dot"></div>
							<div class="dot"></div>
						</div>
						<div class="events">
							<div class="event status0">
							</div>
							<div class="event status1">
							</div>
							<div class="event status2">
							</div>
							
						</div>

					</div>
				</div>
				<button class="return"></button>
			</div>
		</div>
	</div>
</body>
<script src="{% static  "js/jquery-3.2.1.min.js" %}"></script>
<script src="{% static  "js/apform.js" %}"></script>
<script>
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });
</script>
</html>