<!DOCTYPE html>
<html>
<head>
	<title>404</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="./css./fourtofour.css">
	<link rel="stylesheet" type="text/css" href="./css./d.css">
</head>
<body>
	<div class="container">
		<div  class="main">
			<img src="./img./logo1.png" class="logo">
			<img src="./img./sor.png" class="sorry">
			<img src="./img./raawa.png" class="return">
		</div>
		<img src="./img./banqiu.png" class="banqiu">
		<img src="./img./four.png" class="fourto">
		<img src="./img./shia.png" class="huiji">
	</div>
	<script type="text/javascript" src="./js./jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="./js./fourtofour.js"></script>
</body>
</html>