<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="IT_show 2018 2" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Administrator\AppData\Local\Programs\Python\Python36\python.exe|D:\Web\ITShow2018\nginx-1.14.0\AiTeDeLian-master\IT_show\IT_show\wfastcgi.py" resourceType="Unspecified" />
            <add name="IT_show 2018" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Administrator\AppData\Local\Programs\Python\Python36\python.exe|D:\Web\ITShow2018\nginx-1.14.0\AiTeDeLian-master\IT_show\IT_show\wfastcgi.py" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
