{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>404</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static  "css/fourtofour.css"%}">
	<link rel="stylesheet" type="text/css" href="{% static "css/d.css" %}">
</head>
<body>
	<div class="container">
		<div  class="main">
			<img src="{% static "img/logo1.png"  %}" class="logo">
			<img src="{% static "img/sor.png" %}" class="sorry">
			<img src="{% static  "img/raawa.png"%}" class="return">
		</div>
		<img src="{% static "img/banqiu.png" %}" class="banqiu">
		<img src="{% static "img/four.png" %}" class="fourto">
		<img src="{% static "img/shia.png" %}" class="huiji">
	</div>
	<script type="text/javascript" src="{% static "js/jquery-3.3.1.min.js"%}"></script>
	<script type="text/javascript" src="{% static "js/fourtofour.js" %}"></script>
</body>
</html>