{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="{% static  "favicon.ico" %}">
	<link rel="stylesheet" type="text/css" href="{% static  "css/nav.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static  "css/d.css" %}">
    {% block head %}

    {% endblock %}
</head>
<body>
	<div class="container">
        <div class="nav">
				<div class="logoandlink">
                    <div class="IT_logo"><a href="{% url 'show_index' %}"><img src="{% static  "img/logo.png" %}" alt=""></a></div>
{#					<img src="{% static  "img/logo.png" %}" class="IT_logo">#}
					<h2 class="navfont" >爱特工作室</h2>
					<div class="menu">
                        <div class="wee"></div>
		  				<div class="menu-item leftedge">
		    				<a href="{% url 'show_index' %}" class="navfont">首页</a>
		  				</div>
		  				<div class="menu-item">
		    				<a href="{% url 'show_department' %}" class="navfont">部门介绍</a>
		  				</div>
		  				<div class="menu-item">
		    				<a href="{% url 'show_workshow' %}" class="navfont">作品展示</a>
		  				</div>
		 	 			<div class="menu-item">
		    				<a href="{% url 'show_big_event' %}" class="navfont">爱特大事记</a>
		  				</div>
		  				<div class="menu-item">
		    				<a href="{% url 'show_member' %}" class="navfont">成员展示</a>
		  				</div>
		  				<div class="menu-item">
		    				<a href="{% url 'show_comment' %}" class="navfont">留言板</a>
		  				</div>
		  				<div class="menu-item">
		    				<a href="{% url 'user_' %}" class="navfont">加入我们</a>
		  				</div>
					</div>
				</div>
		</div>
        {% block content%}

        {% endblock %}
	</div>
    <script type="text/javascript" src="{% static  "js/jquery-3.2.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static  "/js/nav.js" %}"></script>
    {% block script %}
    {% endblock %}

</body>
</html>
