{% extends 'base.html' %}
{% load myfilter %}
{% load static %}
{% block head %}
	<meta charset="UTF-8">
	<title>爱特大事记</title>
	<link rel="stylesheet" href="{% static  "css/scrollbar.css" %}">

	<link rel="stylesheet" href="{% static  "css/bigevent.css" %}">
{% endblock %}

{% block content %}
{#		<div class="title">#}
{#            爱特大事记#}
{#		    <div class="line"></div>#}
{#        </div>#}
        <h1>爱特大事件</h1>
        <div class="line"></div>
		<div class="background"><img src="{% static  "images/qiu.png" %}" alt=""></div>
        <div class="word_wrap"><img class="event_word" src="{% static  "images/eventword.png"%}" alt=""></div>

    <div class="plates">

				<div class="plate" id="">
					<div class="board">2014
					</div>
					<div class="pole"></div>
				</div>
				<div class="plate" id="">
					<div class="board">2015</div>
					<div class="pole"></div>
				</div>
				<div class="plate" id="">
					<div class="board">2016</div>
					<div class="pole"></div>
				</div>
				<div class="plate" id="">
					<div class="board">2017</div>
					<div class="pole"></div>
				</div>
				<div class="plate" id="">
					<div class="board">2018</div>
					<div class="pole"></div>
				</div>


		</div>
		<div class="ball"><img src="{% static  "images/orangeball.png" %}" alt=""></div>
		<div class="eventwrap">
		<div  class="yearevent">
			<div class="year">2014</div>
			<div class="close"><img src="{% static  "images/close.png" %}" alt=""></div>
			<div class="index_topic mCustomScrollbar _mCS_1">
			  <div id="mCSB_1" class="mCustomScrollBox mCS-rounded-dots mCSB_vertical mCSB_inside" tabindex="0">
			    <div id="mCSB_1_container" class="mCSB_container"  dir="ltr">
			        <div class="event"></div>
			        <div class="event"></div>
			        <div class="event"></div>
			        <div class="event"></div>
			        <div class="event"></div>
			        <div class="event"></div>
			        <div class="event"></div>
			        <div class="event"></div>
			    </div>
			  </div>
			</div>
		</div>
		</div>
{% endblock %}
		
{% block script %}
    <script src = "https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script src="{% static  "js/bigevent2.js" %}"></script>
    <script src="{% static  "js/mCustomScrollbar.js" %}"></script>
{% endblock %}