{% extends "base.html" %}
{% load myfilter %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static  "css/department.css" %}">
{% endblock %}

{% block content %}

		<div class="department_title">
			<h2>部门介绍</h2>
			<div class="titleline"></div>
		</div>

		<img src="{% static  "img/dpbg2.png"%}" class="backgroundImg">
		<img src="{% static  "img/leftplanet.png"%}" class="leftplanet">
		<img src="{% static  "img/person.png"%}" class="smallman">


    {% for foo in result %}
<!-- 前端 -->
    <img src="{% static  "img/whitecircle.png"%}" class="cir cir{{ forloop.counter }}">
		<div class="dp dp{{ forloop.counter }}">
			<img src="{% static  "img/"%}{{ foo.name }}.png" class="dpImg">
			<img src="{% static  "img/"%}{{ foo.name }}logo.png" class="logo logo{{ forloop.counter }}">
            <p>{{ foo.name }}</p>
		</div>
		<div class="word word{{ forloop.counter }}">
			<img src="{% static  "img/cha.png"%}" class="close">
			<h3>{{ foo.name }}</h3>
			<!-- 简介100字 -->
			<p>
				{{ foo.intro }}
			</p>
		</div>
    {% endfor %}



{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static  "js/jquery-3.2.1.min.js"%}"></script>
	<script type="text/javascript" src="{% static  "js/nav.js"%}"></script>
	<script type="text/javascript" src="{% static  "js/department.js"%}"></script>
{% endblock %}
