{% extends 'base.html' %}
{% load static %}
{% block head %}

	<title>爱特展示网</title>
	<link rel="stylesheet" type="text/css" href="{% static  "css/home.css" %}">
{% endblock %}

{% block content %}
    <div class="bgup">
			<img src="{% static  "img/asca.png" %}" class="cyanPlanet">
			<img src="{% static  "img/jhio.png" %}" class="haloPlanet">
			<img src="{% static  "img/jsiji.png" %}" class="yellowPlanet">
			<img src="{% static  "img/sahu.png" %}" class="bgPointImg">
			<img src="{% static  "img/iTstudio.png" %}" class="iTstudioTitle">
			<p>“Creat the Future with Inspiration, Intelligence, Imagination!”</p>
		</div>

		<div class="bgdown">
			<div class="choose_aboutus">
				<h2>About Us</h2>
				<div class="line_abtus"></div>
				<div class="cho1 choose">
					<img src="{% static  "img/jj.png" %}" class="chooseimg">
					<img src="{% static  "img/shi.png" %}" class="icon1">
					<p>奇幻的想象</p>
				</div>
				<div class="cho2 choose">
					<img src="{% static  "img/jj.png" %}" class="chooseimg">
					<img src="{% static  "img/shui.png" %}" class="icon2">
					<p>精准的分析</p>
				</div>
				<div class="cho3 choose">
					<img src="{% static  "img/jj.png" %}" class="chooseimg">
					<img src="{% static  "img/sji.png" %}" class="icon3">
					<p>优秀的团队</p>
				</div>
			</div>
			<div class="shortIntro intro1">
				<h2>奇妙的想象</h2>
				<p>爱特工作室从来不缺灵感和想象，在这里，你可以用创意和智慧实现一个个网页特效，一次次炫酷的交互，一枚枚精巧的icon，一行行高效的代码。在这里，我们在交流中触发交流的火花，在合作中启迪无限的想象。</p>
				<img src="{% static  "img/shauis.png" %}" class="innerImg">
			</div>
			<div class="shortIntro intro2">
				<h2>精准的分析</h2>
				<p>一群热爱互联网技术的人才在这里汇聚，我们解剖的是网页的后台，研究的是电脑的内核。在浩如烟海的代码中，准确快速的发现漏洞；在眼花缭乱的数据中，精确呜无误的建立逻辑。我们的爱与智慧就是爱特的希望与力量。</p>
				<img src="{% static  "img/sabu.png" %}" class="innerImg">
			</div>
			<div class="shortIntro intro3">
				<h2>优秀的团队</h2>
				<p>众人力量和，共把千筷折。我们在永不独行，形成了团结友爱的技术团队。明确的分工，合理的执行，都是我们共同奋斗的见证。有困难一起担当，有发现一起分享，我们携手同心，在IT领域不断前行。</p>
				<img src="{% static  "img/suh.png" %}" class="innerImg">
			</div>
			<input value="{% static  "img/cahui.png" %}" id="bluechoose" style="display:none">
			<input value="{% static  "img/jj.png" %}" id="yellowchoose" style="display:none">

			<img src="{% static  "img/hhaj.png" %}" class="yp">
			<img src="{% static  "img/jhio.png" %}" class="hp">
		</div>
{% endblock %}

{% block script %}
	<script src="http://cdn.bootcss.com/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
	<script type="text/javascript" src="{% static  "js/home.js" %}"></script>
{% endblock %}