{% extends "base.html" %}
{% load myfilter %}
{% load static %}
{% block head %}
    <meta charset="UTF-8">
	<title>成员展示</title>
	<link rel="stylesheet" type="text/css" href="{% static  "css/member.css" %}">
{% endblock %}
{% block content %}
    <div class="show">
        <h1 class="member_show">成员展示</h1>
        <span class="zhan"></span>
    </div>
    <img src="{% static  "img/mountain.png" %}" class="mountain">
    <img src="{% static  "img/backac.png" %}" class="star">

    <div class="main">
        <div class="float"></div>
        <img src="{% static  "img/asdabj.png" %}" class="time_star">

        {% for one in result.members %}
            <div class="quan quan{{ one.year}}"></div>
        {% endfor %}
    </div>


        {% for one in result.members %}

        <div class="member{{ one.year }}_block member_block">
            <h2 class="grade">{{ one.year }}</h2>
            <div class="cha_block">
                <img src="{% static  "img/cha.png" %}" class="cha">
            </div>
            <div class="turnleft">
                <img src="{% static  "img/left.png" %}" class="turnleft_row">
            </div>
            <div class="turnright">
                <img src="{% static  "img/right.png" %}" class="turnright_row">
            </div>
            <div class="lunbo">
                <div class="long">

                {% for member in one.member %}
                    <div class="boy{{ forloop.counter }} boy">
                                <div class="portrait">
                                    <img src="{{ MEDIA_URL }}{{ member.photo }}" class="portrait">
                                    <div class="cover">
                                        <p>{{ member.intro }}</p>
                                    </div>
                                </div>
                        <div class="name">{{ member.name }}</div>
                        <div class="department">{{ member.department.name }}</div>

                            </div>
                    {% endfor %}
                    </div>
                        </div>
                <div class="turn_page">
                </div>
{#                        <div class="turn_page">#}
{#                            {% for one in result.num11 %}#}
{##}
{#                                <div class="page{{ forloop.counter }} page">#}
{#                                    <img src="{% static  "img/page" %}{{ forloop.counter }}.png"#}
{#                                         class="qiu{{ forloop.counter }} qiu">#}
{#                                    <img src="{% static  "img/up.png" %}" class="uprow">#}
{#                                    <img src="{% static  "img/down.png" %}" class="downrow">#}
{#                                </div>#}
{#                            {% endfor %}#}
{#                        </div>#}
{#                        </div>#}


{##}
{#        {% ifequal year 2017 %}#}
{#            {% for i in  result.m17 %}#}
{#                <div class="boy{{ forloop.counter }} boy">#}
{#                    <div class="portrait">#}
{#                        <img src="{{ MEDIA_URL }}{{ i.photo }}" class="portrait">#}
{#                        <div class="cover">#}
{#                            <p>{{ i.intro }}</p>#}
{#                        </div>#}
{#                    </div>#}
{#                    <h2 class="name">{{ i.name }}</h2>#}
{#                    <h3 class="department">{{ i.department.name }}</h3>#}
{#                </div>#}
{#            {% endfor %}#}
{#            </div>#}
{#            </div>#}
{##}
{#            <div class="turn_page">#}
{#                {% for one in result.num17 %}#}
{##}
{#                    <div class="page{{ forloop.counter }} page">#}
{#                        <img src="{% static  "img/page" %}{{ forloop.counter }}.png"#}
{#                             class="qiu{{ forloop.counter }} qiu">#}
{#                        <img src="{% static  "img/up.png" %}" class="uprow">#}
{#                        <img src="{% static  "img/down.png" %}" class="downrow">#}
{#                    </div>#}
{#                {% endfor %}#}
{#            </div>#}
{#            </div>#}
{##}
{#        {% endifequal %}#}


        {% comment %}	</div>
			</div>
			<div class="turn_page">
                {% for one in result.num5 %}

                    <div class="page{{ forloop.counter }} page">
                        <img src="{% static  "img/page"%}{{ forloop.counter }}.png" class="qiu{{ forloop.counter }} qiu">
                        <img src="{% static  "img/up.png" %}" class="uprow">
                        <img src="{% static  "img/down.png" %}" class="downrow">
                    </div>
                {% endfor %}
			</div>
		</div>{% endcomment %}
        </div>
    {% endfor %}


    <div class="amount" style="display: none;">
    {% for one in result.members %}
        <input id="{{ one.year }}" value="{{ one.num }}" type="text">
    {% endfor %}
    </div>

{% endblock %}

{% block script %}
{#	<script type="text/javascript" src="{% static  "js/jquery-3.3.1.min.js" %}"></script>#}
    <script type="text/javascript" src="{% static  "js/member.js" %}"></script>
{% endblock %}