{% extends "base.html" %}
{% load myfilter %}
{% load static %}
{% block head %}
    <meta charset="UTF-8">
	<title>作品展示</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/workshow.css" %}">
{% endblock %}
{% block content %}
		<div class="workshow_title">
			<h2>作品展示</h2>
			<div class="titleline"></div>
		</div>
		<div class="planetandarrow">
			<img src="{% static "img/ehng.png" %}" class="planet">
			<img src="{% static "img/up1.png" %}" class="uparrow">
			<img src="{% static "img/down1.png" %}" class="downarrow">
			<p class="webname">---||||---</p>
		</div>
		<div class="show_container">
			<input value="{{ num }}" style="display:none" id="webNum">
			<img src="{% static "img/quan.png"  %}" class="circle">

			<div class="showWeb block0">
				<!-- 左 -->
				<img src="{% static "img/back.png" %}" class="webImg">
				<a class="webLink">
					<img src="{% static "img/huiji.png" %}" class="webLinkImg">
				</a>
				<input style="display:none">
			</div>

			<div class="showWeb block1">
				<!-- 上 -->
				<img src="{% static "img/back.png" %}"  class="webImg">
				<a class="webLink">
					<img src="{% static "img/huiji.png" %}"  class="webLinkImg">
				</a>
				<input style="display:none">
			</div>

			<div class="showWeb block2">
				<!-- 右 -->
				<img src="{% static "img/back.png"  %}" class="webImg">
				<a class="webLink">
					<img src="{% static "img/huiji.png" %}"  class="webLinkImg">
				</a>
				<input style="display:none">
			</div>

			<div class="showWeb block3">
				<!-- 下 -->
				<img src="{% static "img/back.png" %}" class="webImg">
				<a class="webLink">
					<img src="{% static "img/huiji.png" %}" class="webLinkImg">
				</a>
				<input style="display:none">
			</div>

			{% for key,web in webSet.items %}
                <div class="webInfo {{ web|key:"number" }}" style="display:none">
				    <input value="{{ web|key:"name" }}">
				    <!-- 网站名字 -->
				    <input value="{{ web|key:"pic" }}">
				    <!-- 网站图片 -->
				    <input value="{{ web|key:"link" }}">
				    <!-- 网站链接 -->
			    </div>
            {% endfor %}
		</div>

{% endblock %}

{% block script %}
	<script type="text/javascript" src="{% static "js/workshow.js" %}"></script>
{% endblock %}