<!DOCTYPE html>
<html>
<head>
	<title>作品展示</title>
	<meta charset="utf-8">
    <link rel="shortcut icon" href="{% static  "favicon.ico" %}">
	<link rel="stylesheet" type="text/css" href="./css./workshow.css">
	<link rel="stylesheet" type="text/css" href="./css./d.css">
</head>
<body>
	<div class="container">
		<div class="head">
				<div class="center">
					<img src="./img./logo.png" class="logo">
					<h2>爱特工作室</h2>
					<div class="menu">
		  				<div class="menu-item x">
		    				<a>首页</a>
		  				</div>
		  				<div class="menu-item">
		    				<a>部门介绍</a>
		  				</div>
		  				<div class="menu-item current-menu-item">
		    				<a>作品展示</a>
		    				<div class="wee"></div>
		  				</div>
		 	 			<div class="menu-item">
		    				<a>爱特大事记</a>
		  				</div>
		  				<div class="menu-item">
		    				<a>成员展示</a>
		  				</div>
		  				<div class="menu-item">
		    				<a>留言板</a>
		  				</div>
		  				<div class="menu-item">
		    				<a>加入我们</a>
		  				</div>
					</div>
				</div>
		</div>
		<img src="./img./quan.png" class="quan">
		<div class="ball">
			<div class="up">
				<img src="./img./up1.png" class="up_row">
			</div>
			<div class="down">
				<img src="./img./down1.png" class="down_row">
			</div>
			<h3 class="web_name">海洋技术网站技术网站</h3>
		</div>
		<div class="block1 block top">
			
			<img src="./img./huiji.png" class="huiji">
			<img src="./img./back.png" class="in_img1 in_img">
			<div class="zhe"></div>
		</div>
		<div class="block2 block left">
			
			<img src="./img./huiji.png" class="huiji">
			<img src="./img./jjjj.jpg" class="in_img2 in_img">
			<div class="zhe"></div>
		</div>
		<div class="block3 block bottom">
			
			<img src="./img./huiji.png" class="huiji">
			<img src="./img./cbsah.png" class="in_img3 in_img">
			<div class="zhe"></div>
		</div>
		<div class="block4 block right">
			
			<img src="./img./huiji.png" class="huiji">
			<img src="./img./back.png" class="in_img4 in_img">
			<div class="zhe"></div>
		</div>
		<div class="fugai"></div>
	</div>
	<script type="text/javascript" src="./js./jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="./js./workshow.js"></script>
</body>
</html>